<div class="symptoms-page d-flex align-items-center">
    <div class="container-fluid">
        <%= link_to('Back', users_path, class:"btn doctor-btn-pill text-dark mt-3") %>
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card" style="min-width:25rem">
                <div class="card-body">
                    <p class="card-title h2">Symptom</p>
                    <div class="ml-4">
                        <p class="h4">Title</p>
                        <p class="ml-2 h6"><%=@symptom.title%></p>
                        <p class="h4">Description</p>
                        <p class="ml-2 h6"><%=@symptom.content%></p>
                        <%if @symptom.main%>
                            <p class="m2 h6">It is a common symptom</p>
                        <%else%>
                            <p class="ml-2 h6">It is not a common symptom</p>
                        <%end%>
                        <p class="h4">Registeredby</p>
                        <%if @symptom.user_id == current_user.id%>
                            <p class="m2 h6">You</p>
                        <%else%>
                            <p class="ml-2 h6">
                                <% @users.each do |user| %>
                                    <%if user.id == @symptom.user_id%>
                                        <td>Dr.<%= user.username %></td>
                                    <%end%>
                                <% end %>
                            </p>
                        <%end%>
                    </div>
                    <p class="mt-3"> created at<%= time_ago_in_words(@symptom["created_at"])%> ago, last update <%= time_ago_in_words(@symptom["updated_at"])%> ago</p>
                <div>
            </div>
        </div>
    </div>
</div>