<p id="notice"><%= notice %></p>
<% if @over_ten %>
  <%= link_to 'Previous messages', '?m=all' %>
<% end %>
<div class="ui segment">
  <%if @messages != nil %>
    <% @messages.each do |message| %>
      <% if message.body.present? %>
        <div class="item">
          <div class="content">
            <div class="header"><strong><%= message.user.username %></strong> <%= message.message_time %></div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %> /
                <% if message.user == current_user %>
                  <%= message.read ? 'Already read' : 'Unread' %>
                <% end %>  
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <%else%>
  <%end%>
</div>
<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %> prohibited this task from being saved:</h2>

    <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "send a message" %>
  </div>
<% end %>