<div class="login-page">
  <div class="row container-fluid">
    <div class="col-5 bg-white d-flex justify-content-center align-items-center">
      <div>
        <p class="notice text-primary"><%= notice %></p>
        <p class="alert text-danger"><%= alert %></p>
        <%= link_to "CRA", root_path, class:"display-4 text-dark"%>
        <p class="lead mt-1 mb-2">Welcome to CRA</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control"  %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",class:"form-control"  %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control"  %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class:"btn btn-block bg-light-accent text-light mt-3" %>
          </div>

        <% end %>

        <%= render "devise/shared/links" %>

        <div class="mt-2">
          <%= link_to 'back', :back, class:"btn btn-outline-dark"%>
        </div>
      </div>
    </div>
    <div class="col-7 login-page d-flex justify-content-center align-items-center">
      <img src="/images/undraw_access_account_99n5.png" class="doc2">
    <div>
  </div>
</div>
