<div class="main-container">
    <nav class="navbar navbar-expand-lg navbar-dark home-navbar">
        <a class="navbar-brand" href="#">CRA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <%= link_to "Doctors", users_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="big-dot-container d-flex align-items-end justify-content-center">
                    <div>
                        <div class="small-dot-container animated fadeInLeft"></div>
                        <img src="/images/healthcare.png" alt="rss feed" class="doc animated fadeInLeft delay-1s" />
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div>
                    <h1 class="display-4">Your medical partner in the fight against COVID-19</h1>
                    <hr class="my-4 bg-light">
                    <p class="text-paragraphs">You can take a short screening test to diagnose your self by click <mark class="animated heartBeat delay-3s">Self Screening</mark> button, or if you are a doctor that wants to help please click <mark class="animated heartBeat delay-3s">Apply</mark>.</p>
                    <div class="">
                        <a class="btn btn-lg m-2 bg-accent" href="#" role="button">Self Screening</a>
                        <%= link_to "Apply", new_user_registration_path, class:"btn btn-outline-dark btn-lg m-2"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%# cards %>
<div class="bg-light">
    <div class="container pt-5 pb-5">
        <div class="mb-5">
            <h1 class="display-4">Main news</h1>
        </div>
        <div class="card-columns">
            <% @news.each do |n| %>
            <div class="card border-0">
                    <%= image_tag n["urlToImage"], class:"card-img-top"%>
                    <div class="card-body">
                    <p class="h5 card-title" ><%= n["title"]%></p>
                    <div class="container">
                        <p class="card-text d-inline"><small class="text-muted"><%= time_ago_in_words(n["publishedAt"])%></small></p>
                        <%= link_to "Readmore", class:"d-inline ml-5"%>
                    </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<div class="footer-copyright text-center py-3">
    © 2020 Copyright:
</div>